@model ENT.Producto
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Usuarios</h2>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="float:right">
                <a><input id="idAgregar" type="submit" value="Nuevo" class="btn btn-success" onclick="" /></a>
                <div class="col-md-4">
                    @Html.ActionLink("Actualizar", "GetAll", "Producto", htmlAttributes: new { @class = "btn btn-info" })
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        @using (Html.BeginForm("Form", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row" id="input" style="display:none;">

                <div class="input-group">
                    <div class="row">
                        @Html.TextBoxFor(model => model.IdProducto, new { @class = "hidden" })
                        @Html.ValidationMessageFor(model => model.IdProducto)
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Descripcion)
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success" type="submit">Guardar</button>

                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <hr />
    <div class="row">
        @if (Model.Productos != null)
        {
            //crear tabla
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <td class="hidden">IdUsuario</td>

                        <td class="text-center" style="font-weight:bold;">Descripcion</td>
                        <td class="text-center" style="font-weight:bold;">Usuario</td>
                        <td class="text-center" style="font-weight:bold;">Fecha Creacion</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ENT.Producto producto in Model.Productos)
                    {
                        <tr>
                            <td class="hidden">@producto.IdProducto</td>
                            <td>@producto.Descripcion</td>
                            <td>@producto.IdUsuario</td>
                            <td>@producto.FechaCreacion</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger" role="alert">Ocurrio un error al consultar los registro</div>
        }

    </div>
</div>


@section Scripts
    {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <script type="text/javascript">
        $('#idAgregar').click(function () {
            $('#input').toggle('slow', function () {
            });
        });
    </script>
}
